.titles { font-weight: normal; font-size: 24px; text-decoration: none; }
.titles a:link, .titles a:visited, .titles a:active { margin-bottom: 0px; }
.search_bg { margin-bottom: 10px; }
#header { margin-top: 30px !important; }
.idTabs { margin-top: 10px !important; margin-bottom: 10px !important; }
#categories { padding-bottom: 10px !important; }
