/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2014, 11:25:14 AM
    Author     : eveline
*/

@media (max-width: 767px) {
    .widget_akvoblocks_featured_widget .cDivWrapper .cDivContent,
    .widget_akvoblocks_featured_widget .cDivWrapper .cDivDownloadBtn{
        position:relative;
        right:0px;
        padding-top:15px;
    }
    .widget_akvoblocks_featured_widget .cDivWrapper .cDivContent{
        margin:15px 0px;
        padding:0px;
    }
    .cDivHomeArea2 .widget_dgroups_api_widget{
        float:none;
        width:100%;
    }
    .cDivHomeArea2 .widget_dgroups_api_widget .cDivDataArea.members,
    .cDivHomeArea2 .widget_dgroups_api_widget .cDivDataArea.countries,
    .cDivHomeArea2 .widget_dgroups_login_widget,
    .cDivAmbassadorArea3 .widget_dgroups_login_widget,
    .otw-sidebar-2 .widget_dgroups_login_widget,
    .otw-sidebar-2 .widget_r4f_bap_widget,
    .otw-sidebar-1 .widget,
    .cDivAmbassadorArea3 .widget_r4f_featured_video_widget,
    .widget_akvoblocks_testimonials_widget .cDivSlideImage,
    .widget_akvoblocks_testimonials_widget .cDivSlideContent,
    .cDivHomeArea3 .widget_akvoblocks_projectsmap_widget,
    .cDivHomeArea3 .twitter,
    .cDivHomeArea4,
    .cDivEntry
    {
        float:none;
        width:100%;
        padding:15px 0px;
    }
    
    .dynamicSideBarTop.otw-sidebar-1{
        height:auto;
        
    }
    .cDivHomeArea3 .twitter,
    .otw-sidebar-1 .widget_r4f_bap_widget,
    .cDivHomeArea4{
        padding:20px 15px 15px;
    }
    .cDivHomeArea3,
    .cDivEntry
    {
        padding-top:0px;
    }
    .cDivEntry .cDivBlogPostTitle,
    .cDivEntry .cDivBlogPostTextContent
    {
        height:auto;
    }
    .cDivEntry .cDivEntryImage a img
    {
        margin:0 auto;
    }
    #shared_docs_container .filter > *{
        width:100%;

    }
	
	
	
	.cALogo {
		float: none;
		margin-right: 0px;
	}
	
	.cDivSliderContainer .col-md-12 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.cDivAboutBoxContainer .col-md-8 {
	padding-left: 0px;
	padding-right: 0px;
/*	margin-right: 30px;
	width: 65.5945%;*/
width: 100%;
	margin-right: 0;
	}

	.cDivAboutBoxContainer .col-md-4 {
		padding-right: 0px;
		padding-left: 0px;
	/*	width: 31.1827%;*/
	width: 100%;	
	}
	
	.cDivPartnerLogoContainer, .cDivAboutBox {
		margin-top: 3.125%;
	}
	
	.cDivRSRFeedsContainer .col-md-4 {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
	
	.cDivMapContainer .col-sm-4 {
		padding-left: 0px;
		/*padding-right: 16px;*/	
		padding-right: 0px;
		width: 100%;
		
	}

	.cDivMapContainer .col-sm-8 {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
	
	.cDivAboutPage {
		margin-right: 0px;
	}
	
	.cDivContactForm {
		margin: 3.125% 0 0 0;		
	}
	
	.cDivPartners {
		margin-top: 3.125%;
	}
	
	.cDivProjectUpdatePage .col-md-4 {
		width: 100%;
	}
	
	.cDivProjectUpdatePage .cDivProject {
		margin-bottom: 3.125%;
	}
	
	#iDivPoweredByText {
		font-size: 13px;
	}
}