/* 
    Document   : editor
    Created on : Aug 1, 2013, 3:58:27 PM
    Author     : eefsparreboom
    Description:
        Purpose of the stylesheet follows.
*/

.superheader{
    font-size: 32px !important;
    font-weight:normal;
    color: #FF6E01;
}
