#sidebar-wrapper { width: 280px !important; overflow: hidden; margin-right: 3px; float: right !important; }
#content-wrapper { width: 665px !important; }
.search_bg { margin-bottom: 10px; }
.idTabs { margin-top: 10px !important; margin-bottom: 10px !important; }
#header { margin-top: 30px !important; }
#categories { padding-bottom: 10px !important; }
.commentlist { width: 560px !important; overflow: hidden; margin-left: 8px !important; }
.commentlist .children li { width: 85% !important; }
